.study {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 60px;
  background-color: var(--color-dark);
  border-radius: var(--border-radius-large);
  color: var(--color-light);
  padding: 70px 60px;

  &-item:not(:last-child) {
    border-right: 1px solid var(--color-light);
    padding-right: 60px;
  }

  &-item__text {
    font-size: 18px;
    margin-bottom: 20px;
  }

  &-item__btn {
    font-size: 20px;
    line-height: 140%;
    color: var(--color-accent);
    position: relative;

    &::after {
      content: url("../icons/arrow-top-right.svg");
      position: absolute;
      top: 2px;
      right: -32px;
      background-size: cover;
    }
  }
}
